.main {
    display: flex;
    height: 100vh;
    padding: 0.5rem;
  }
  .player{
    position: absolute;
    /* border: 1px solid purple; */
    width: 100%;
    left: 0;
    bottom: 0;
  }

  @media screen and (max-width: 768px) {
    .main{
      padding: 0rem;
    }
  }