.library {
    flex: 1;
    background-color: var(--color-black1);
    border-radius: 0.5rem;
    height: 100%;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    padding: 0rem 0.75rem;
    overflow-y: auto;
    white-space: nowrap;
  }
  /* .library::-webkit-scrollbar {
    display: none;
  } */
  .library::-webkit-scrollbar{
    width: 0.5rem
  }
  .library::-webkit-scrollbar-track {
    background-color: var(--color-black1);
  }
  .library::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0); 
  }
  .library:hover::-webkit-scrollbar-thumb {
    background-color: var(--color-black3); 
  }
  
  .library .option {
    position: sticky;
    top: 0;
    background-color: var(--color-black1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }
  .library .option .liboption{
    line-height: 2.5rem;
    opacity: 0.8;
    padding: 0.5rem 0.75rem;
  }

  .library .option .liboption:hover {
    opacity: 1;
  }
  
  .library .option .liboption i {
    color: white;
    font-size: 1.25rem;
  }
  .library .option .liboption span {
    font-size: 1rem;
    margin-left: 1rem;
    color: white;
    font-weight: 600;
    text-decoration: none;
  }

  .library .option .icons {
    margin-left: auto;
  }
  .library .option .icons i {
    font-size: 1.25rem;
    opacity: 0.8;
    margin-right: 1rem;
  }
  .library .option .icons i:hover {
    opacity: 1;
    cursor: pointer;
  }
  .library .libbox {
    flex: 1;
    height: 100%;
  }
  
  .library .libbox .box {
    height: 4rem;
    border-radius: 0.2rem;
    padding: 0.5rem 0rem;
    display: flex;
    align-items: center;
  }
  .library .libbox .box:hover {
    cursor: pointer;
    background-color: var(--color-black3);
  }
  .library .libbox .box .image {
    height: 100%;
    width: 3rem;
    margin-left: 0.5rem;
  }
  .library .libbox .box .image img{
    height: 100%;
    width: 100%;
    border-radius: 0.2rem;
  }
  .library .libbox .box .name {
    flex: 1;
    padding: 0rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .library .libbox .box .name i {
    margin-left: auto;
    opacity: 0.8;
  }
  .library .libbox .box .name i:hover {
    opacity: 1;
  }

  @media screen and (max-width: 768px) {
    .library {
      border-radius: 0.5rem 0.5rem 0rem 0rem;
      background-color: var(--color-black3);
  }
  .library::-webkit-scrollbar{
    display: none;
  }
  .library .option {
    background-color: var(--color-black3);
    height: 35px;
  }
  .library .libbox .box:hover {
    background-color: #3d3d3d;
  }
  .library .option .liboption{
    line-height: 1rem;
  }
  .library .option .liboption i {
    font-size: 1rem;
  }
  .library .option .liboption span {
    font-weight: 400;
  }
  .library .option .icons i {
    font-size: 1rem;
  }
  .library .libbox .box {
    height: 2.8rem;
    border-radius: 0.2rem;
    padding: 0.5rem 0rem;
  }
  .library .libbox .box .image {
    height: 100%;
    width: 1.8rem;
    margin-left: 0.5rem;
  }
  .library .libbox .box .image img{
    height: 100%;
    width: 100%;
    border-radius: 0.2rem;
  }
  .library .libbox .box .name {
    font-weight: 400;
  }
  }